.app {
    margin: 5px;
}
.Burger {
    display: block;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 170px;
    height: 250px;
    text-align: center;
    font-weight: 700;
    overflow-y: auto;
    font-size: 1.2rem;
}
.Burger p {
    color: black;
    margin: 18px auto;
}
.Burger .Burger-Top {
    height: 32%;
    background: linear-gradient(#bc581e,#e27b36);
    border-radius: 50% 50% 0 0;
    position: relative;
    width: 32%;
    box-shadow: inset -15px 0 #c15711;
    margin: 1% auto;
    display: block;
}
.Burger .Burger-Bottom {
    width: 32%;
    box-shadow: inset -15px 0 #c15711;
    margin: 1% auto;
    background: linear-gradient(#f08e4a,#e27b36);
    border-radius: 0 0 30px 30px;
    height: 20%;
    display: block;
}